div.content
	div.main
		div.bannerlogin
			div.banner
				ul.banner_con
					li
						a(href="#")
							img(src="../image/banner.png", alt="")
					li
						a(href="#")
							img(src="../image/banner2.png", alt="")
					li
						a(href="#")
							img(src="../image/banner3.png", alt="")
				ul.banner_list
					li.active
					li
					li
			div.personalinfor
				div.personalinfor_top
					a(href="#")
						img(src="../image/headportrait_bg.png", alt="")
					p 
						span Hi，您好！欢迎来到精英吧。
				div.personalinfor_login
					a(href="#").login 登录
					a(href="#").regiater 注册
				div.personalinfor_bottom
					div.personalinfor_bottom_cont
						p 新手入门
						a(href="#") 了解精英吧 &gt;
					div.personalinfor_bottom_list
						div
							a(href="#")
								strong.one
								span 1.&nbsp;&nbsp;理论知识
						div
							a(href="#")
								strong.two
								span 2.&nbsp;&nbsp;大牛答疑
						div
							a(href="#")
								strong.three
								span 3.&nbsp;&nbsp;在线评估
						div
							a(href="#")
								strong.four
								span 4.&nbsp;&nbsp;线下实训			
				div.scholarship
					a(href="#") 奖金
					a(href="#") 就业
					a(href="#") 圈子
		div.centbox
			div
				a(href="#",target="_self")
					strong.centbox1
					h3 课程学习
					p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建.
			div
				a(href="#",target="_self")
					strong.centbox2
					h3 学习指导
					p 不知道该学什么，我们将有在线职业规划师为你进行学习指导 
			div
				a(href="#",target="_self")
					strong.centbox3
					h3 有问必答
					p 利用手机通过算法将你的问题推送给老师，一对一为你实时解答
			div
				a(href="#",target="_self")
					strong.centbox4
					h3 招聘就业
					p 我们鼓励学习，学习达标的学员我们向企业推荐
			div.last
				a(href="#",target="_self")
					strong.centbox5
					h3 带你走进互联网
					p 行业专家为你提供最新最前沿的互联网思维和讯息，快速了解互联网		
		div.onlinecourse
			h2.onlinecource_title 精英吧在线课程
			div.onlinecource_cont
				ul
					li.unity3d
						a(href="#").unity
					li.ios
						a(href="#") 正在录制，敬请期待！
					li.android
						a(href="#") 正在录制，敬请期待！
					li.html5
						a(href="#") 正在录制，敬请期待！
					li.expect
						//- a(href="#")
		div.learningstyle
			h2.learningstyle_title 不一样的学习方式：你学习的不仅仅是技能
			div.learningstyle_cont
				div
					img(src="../image/learningstyle_ico1.png", alt="")
					span 同学一起学
					p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级，刷副本。
				div
					img(src="../image/learningstyle_ico2.png", alt="")
					span 学习顾问指引
					p 贴心的学习顾问，当你遇到困难，学习动力不足，对学习方向和未来迷茫，出手相助。
				div
					img(src="../image/learningstyle_ico3.png", alt="")
					span 奖学制度
					p 每个时代都需要天才，但是也需要勤奋刻苦的人才，对，就是你，你学的好，我们就要奖励你，我们要助推你成为社会的精英。
				div.last
					img(src="../image/learningstyle_ico4.png", alt="")
					span 有问必答
					p 遇到困难不要怕，上千名认证专家在线支持答疑，只要你提问，我们就回答。
		div.learninguser
			div.learninguser_title
				h2 目前我们共有超过
					span 20000 注册学习用户
				p 目前已经有超过10000名学生就业
			div.learninguser_cont
				div
					img(src="../image/learninguser1.png", alt="")
					span 王*
					span 北京嘉丁母婴健康科技
					span iOS开发工程师
					p 薪资
					h3 12000元/月
				div
					img(src="../image/learninguser2.png", alt="")
					span 孙**
					span 北京海游科技
					span Cocos2d-x
					p 薪资
					h3 12000元/月
				div
					img(src="../image/learninguser3.png", alt="")
					span 陈**
					span 软通动力
					span iOS开发工程师
					p 薪资
					h3 11000元/月
				div
					img(src="../image/learninguser4.png", alt="")
					span 刘*
					span 众信利华
					span iOS开发工程师
					p 薪资
					h3 12000元/月
				div.last
					img(src="../image/learninguser5.png", alt="")
					span 孙*
					span 国富商通
					span iOS开发工程师
					p 薪资
					h3 10000元/月
		div.cooperation
			h2.cooperation_title 合作机构
			div.cooperation_cont
				div.cooperation_cont_box
					ul
						li
							a(href="#")
								img(src="../image/cooperation1.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation2.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation3.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation4.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation5.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation6.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation7.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation8.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation10.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation1.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation2.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation3.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation4.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation5.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation6.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation7.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation8.png", alt="")
						li
							a(href="#")
								img(src="../image/cooperation10.png", alt="")
				span.cooperation_cont_left
				span.cooperation_cont_right
div.upward
	div.upward_top
		a(href="#")
			img(src="../image/publicnumber.png", alt="")
			span 公众号
	div.upward_center
	div.upward_bottom
		img(src="../image/1132001.png", alt="")