doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet",href="../css/index.css")
		script(src="../css/js/index.js")
	body
		include header.jade
		include courcelistcontent.jade
		include footer.jade
		script(src='http://libs.baidu.com/jquery/2.1.4/jquery.min.js')
		script(src="../css/js/header.js")
