div.courcelist
	div.min-courcelist
		div.min-courcelist_top
			img(src="../image/sess.png", alt="")
			div.project
				h2 C#语言入门
				div.kes
					span 总课时
					p 
						strong 365
						i 天
				div.biaos
					span 标准学习时间
					p
						strong 365
						i 天
			div.share
				a(href="#") 分享
			div.process
				img(src="../image/process.png", alt="")
		div.min-courcelist_bottom
			div.min-courcelist_bottom_left
				div.lesson
					div.lesson_one
						span 第一课
						h3 Andriod 项目开发实战:语音播报计算器
					div.lesson_two
						em
						span 本节课我们主要学习下载安装Unity 和 MonoDevelop，并会创建并第一个 C# 工程运行
						a(href="#").activ 开始学习
						i （5分钟）
				div.lesson
					div.lesson_one
						span 第一课
						h3 Andriod 项目开发实战:语音播报计算器
					div.lesson_two
						em
						span 本节课我们主要学习下载安装Unity 和 MonoDevelop，并会创建并第一个 C# 工程运行
						a(href="#").activ 开始学习
						i （5分钟）
				div.lesson
					div.lesson_one
						span 第一课
						h3 Andriod 项目开发实战:语音播报计算器
					div.lesson_two
						em
						span 本节课我们主要学习下载安装Unity 和 MonoDevelop，并会创建并第一个 C# 工程运行
						a(href="#").activ 开始学习
						i （5分钟）
			div.min-courcelist_bottom_right
				div.studing 正在学习的用户
				div.studing_list
					div.class
						p.class_name 班级名
						p.class_user 用户名
						p.class_number 分数
					div.class_cont
						p.class_cont_name A1020
						p.class_cont_user 教育咨询
						p.class_cont_number 88
					div.class_cont
						p.class_cont_name 班级名
						p.class_cont_user 用户名
						p.class_cont_number 分数
					div.class_cont
						p.class_cont_name 班级名
						p.class_cont_user 用户名
						p.class_cont_number 分数
					div.class_cont
						p.class_cont_name 班级名
						p.class_cont_user 用户名
						p.class_cont_number 分数
					div.class_cont
						p.class_cont_name 班级名
						p.class_cont_user 用户名
						p.class_cont_number 分数
					div.class_cont
						p.class_cont_name 班级名
						p.class_cont_user 用户名
						p.class_cont_number 分数