doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet",href="../css/index.css")
		script(src="../css/js/index.js")
	body
		div.header
			div.head
				div.head-left
					a(href="#")
						img(src="../image/log.png", alt="")
					span
						img(src="../image/113200.png", alt="")
					div.city
						p 北京
							i
						span
						ul.city-cont
							li
								div
								img(src="../image/city1.png", alt="")
								em 北京
							li
								div
								img(src="../image/city3.png", alt="")
								em 大连
							li
								div
								img(src="../image/city4.png", alt="")
								em 上海
							li
								div
								img(src="../image/city3.png", alt="")
								em 广州
							li
								div
								img(src="../image/city5.png", alt="")
								em 西安
							li
								div
								img(src="../image/city6.png", alt="")
								em 武汉
							li
								div
								img(src="../image/city2.png", alt="")
								em 郑州
				div.head-center
					ul
						li
							a(href="../html/index.html").on 首页
						li
							a(href="../html/courcelist.html") 点播课程
						li
							a(href="#") 互联网头条
					p
						a(href="#") +提问
		div.denglu
			div.min_denglu
				div.login
					div.log_top
						a(href="#").on 登录
						a(href="#") 注册
					div.log_bottom
						form(action="",method="post",name="login")
							div.phone.box
								span
								input(placeholder="请输入手机号")
							div.password.box
								span
								input(placeholder="请输入密码")
		div.denglu_bottom
			div.min_denglu_bottom
				span 才信教育©2015-2017&nbsp;&nbsp;|&nbsp;&nbsp;
				span
					a(href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=xN7LXfjd31yppCnzZm9VjVGdMpvHQMx7wmQgSRQ1BFGLRnZKyFQl!-1385279581") 京ICP备16013954号
		script(src='http://libs.baidu.com/jquery/2.1.4/jquery.min.js')
		script(src="../css/js/index.js")