div.footer
	div.foot
		div.foot-top
			h2 友情链接
			p
				a(href="#") 陌陌科技
				a(href="#") 触控科技
				a(href="#") 互动百科
				a(href="#") 搜房网
			a(href="#",class="more") 更多
		div.foot-bottom
			ul
				p 我们的实验室
				li 
					a(href="#") 什么是精英吧
			ul
				p 关于我们
				li
					a(href="#") 才信教育简介
				li
					a(href="#")  联系我们
				li 
					a(href="#") 加入我们
			ul
				p 现有课程
				li
					a(href="#") unity3D
			ul
				p 帮助
				li 
					a(href="#") 常见问题
				li
					a(href="#") 版权声明
				li
					a(href="#") 服务条款
			ul.fedback
				p 反馈方式
				li
					a(href="#") 电子邮箱：http@jingyingba.com
				li
					a(href="#") 微信反馈：精英吧(jingyingbacom)
				img(src="../image/jyb_code.jpg", alt="")
			div.appcode
				p 精英吧APP扫描下载
				img(src="../image/app_code.png", alt="")
				span （扫码下载）
	div.companyname
		span 才信教育©2015-2017 
		i |
		span
			a(href="#") 京ICP备16013954号