div.friend
	div.min_friend
		div.min_friend_top
			h2.min_friend_top_title 合作伙伴
			div.min_friend_top_contents
				ul
					li
						a(href="#")
							img(src="../image/cooperation3.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation5.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation2.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation7.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation6.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation4.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation1.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation2.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation7.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation6.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation4.png", alt="")
					li
						a(href="#")
							img(src="../image/cooperation1.png", alt="")
		div.min_friend_bottom
			h2.min_friend_bottom_title 友情链接
			div.min_friend_bottom_contents
				p
					a(href="#") IT教程网
					a(href="#") 中国大学生实习网
					a(href="#") QQ浏览器
					a(href="#") QQ音乐
					a(href="#") 微信支付
					a(href="#") 微信连连看
					a(href="#") 腾讯大学
					a(href="#") 腾讯开放平台
					a(href="#") 辽宁工程大学
					a(href="#") 天津医科大学
					a(href="#") 华北电力大学
					a(href="#") 中南财经政法大学
					a(href="#") 华南理工大学
					a(href="#") 西南农业大学
					a(href="#") 电子科技大学
					a(href="#") 西北农林科技大学
					a(href="#") 腾讯电脑管家
				
