div.header
	div.head
		div.head-left
			a(href="#")
				img(src="../image/log.png", alt="")
			span
				img(src="../image/113200.png", alt="")
			div.city
				p 北京
					i
				span
				ul.city-cont
					li
						div
						img(src="../image/city1.png", alt="")
						em 北京
					li
						div
						img(src="../image/city3.png", alt="")
						em 大连
					li
						div
						img(src="../image/city4.png", alt="")
						em 上海
					li
						div
						img(src="../image/city3.png", alt="")
						em 广州
					li
						div
						img(src="../image/city5.png", alt="")
						em 西安
					li
						div
						img(src="../image/city6.png", alt="")
						em 武汉
					li
						div
						img(src="../image/city2.png", alt="")
						em 郑州
		div.head-center
			ul
				li
					a(href="../html/index.html").on 首页
				li
					a(href="../html/courcelist.html") 点播课程
				li
					a(href="#") 互联网头条
			p
				a(href="#") +提问
		div.head_personal
			div.zx
				img(src="../image/personal.png", alt="").geren
			div.xiala
				span 个人中心
				img(src="../image/xjiao.png", alt="").xjiao
				ul 
					li
						a(href="#") 账号设置
					li
						a(href="#") 我是在校生
					li
						a(href="#") 我的订单
					li
						a(href="#") 退出