div.speed
    div.min_speed
        div.min_speed_left
            img(src="../image/headportrait_bg.png",alt="")
            p 速度决定一切
            span 修改
        div.min_speed_right
            div.spees_right_title
                h2 学习情况:
                p 网页开发（HTML+CSS+JavaScript从入门到精通）【职坐标】
                p AutoCAD工程制图基础入门与提高
                p AutoCAD工程制图基础入门与提高
            div.speed_right_con
                span 4分钟/10分钟
                span 4分钟/10分钟
                span 4分钟/10分钟
            div.speed_right_item
                span 当前分数:98分
                span 当前分数:98分
                span 当前分数:98分