div.itunesbar
    ul
        li
            a(href="#")
                div
                span 我的学习曲线
        li
            a(href="#")
                div
                span 我所在的班级
        li
            a(href="#")
                div
                span 我的作业
        li
            a(href="#")
                div
                span 账号设置
        li
            a(href="#")
                div
                span 优惠码
        li
            a(href="#")
                div
                span 我是在校生