doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="stylesheet",href="../css/index.css")
	body
		include head.jade
		div.classify
			div.min-classify
				div.classify_top
					div.all_top
						img(src="../image/tian.png", alt="")
						div.all_top_right
							h4 分类:
							a(href="#").qb 全部
							span
								a(href="#") unity 3D
							span
								a(href="#") iOS
							span
								a(href="#") Html5
							span
								a(href="#") Andriod
					div.all_bottom
						img(src="../image/shui.png", alt="")
						div.all_bottom_left 
							h4 区域:
							a(href="#").qb 全部
							span
								a(href="#") 朝阳区
							span
								a(href="#") 海淀区
							span
								a(href="#") 西城区
							span
								a(href="#") 东城区
				div.classify_bottom
					div.classify_bottom_top
						div.bottom_top_cont
						div.bottom_top_list
							span
								a(href="#").mr 默认
							span
								a(href="#").hp 好评⬇️
					div.classify-bottom_center
						div.bottom-center_con
							div.zu
								img(src="../image/bg.png", alt="")
								span 7.7分
							h3 英语零基础直达四级水平
							p 【南京市】新街口中山南路8号苏豪大厦
							div.jg
								p ￥1000
									strong ￥100
								span 已售14236				
		include footer.jade
		script(src='http://libs.baidu.com/jquery/2.1.4/jquery.min.js')
		script(src="../css/js/index.js")